@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
}

.header {
  height: 80px; /* Adjust height to make header smaller */
  display: flex;
  align-items: center;
  width: 1100px;
  margin: auto;
  background-color: white;
  padding: 10px;
}

.logo {
  margin-top: 20px;
  margin-right: 50px;
}

.title {
  flex: 1;
  text-align: center;
  font-weight: 50%;
  color: #1b3d78;
}

.card1 {
  width: 1100px;
  margin: auto;
  background-color: white;
  padding: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 10px;
}

.colour {
  background-color: #072e6d;
  color: white;
  text-align: center;
}


.table {
  font-size: 0.8rem; /* Reduce font size for smaller tables */
  width: 100%;
}

.table th,
.table td {
  padding: 2px; /* Reduce padding for smaller cells */
}

.card1 .footer { /* Targets footer within card1 */
  font-size: 0.8rem; 
}


.card-body {
  border: 2px solid #072e6d; /* Add a border with the desired color */
  padding: 0.5px; /* Optional: Add padding inside the card-body */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}
